metrics-collector.log*
smoke-*.log
logs/
*.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Go ###
go/bin/
go/web/frontend/dist/
go/web/frontend/node_modules/
go/internal/webui/dist/
